<%= form_for @changeset, @action, fn f -> %>
  <p class="control">
    <%= textarea f, :content, class: "textarea simditor-comment-textarea" %>
    <%= error_tag f, :content %>
  </p>

  <p class="control">
    <button class="button is-info" type="submit">确定</button>
    <button class="button is-link" type="reset">取消</button>
  </p>
<% end %>
