<section class="hero is-large is-primary is-bold has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        五杂市集
      </h1>
      <h2 class="subtitle">
        日中为市，致天下之民，聚天下之货，交易而退，各得其所。
      </h2>
    </div>
  </div>
</section>
