<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Zizhixi!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <section class="hero is-info is-large">
      <!-- Hero header: will stick at the top -->
      <div class="hero-head">
        <header class="nav">
          <div class="container is-fluid">
            <div class="nav-left">
              <%= link "自制系", to: page_path(@conn, :index), class: "nav-item is-brand is-active" %>
            </div>
            <span class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <div class="nav-right nav-menu">
              <%= link "登录", to: account_path(@conn, :signin_page), class: "nav-item" %>
              <%= link "注册", to: account_path(@conn, :signup_page), class: "nav-item" %>
            </div>
          </div>
        </header>
      </div>
    </section>
      <!-- Hero content: will be in the middle -->
      <div class="">
        <div class="container is-fluid">
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

          <main role="main">
            <%= render @view_module, @view_template, assigns %>
          </main>
        </div>
      </div>

      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">

      </div>


    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
