<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf" content="<%= Plug.CSRFProtection.get_csrf_token() %>">
    <title><%= @conn.assigns[:title] && @conn.assigns[:title] <>  " - " %>自制系</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="https://use.fontawesome.com/c953b87fae.js"></script>
  </head>

  <body>
    <section class="hero is-medium" style="position: fixed; width: 100%; z-index: 999;">
      <div class="hero-head">
        <nav class="nav">
          <div class="nav-left">
            <%= link raw("<span class=\"title is-4\">自制系</span>"), to: page_path(@conn, :index), class: "nav-item" %>

            <%= for {controllers, name, path} <- navigation(@conn) do %>
              <%= if controller_module(@conn) in controllers do %>
                <%= link name, to: path, class: "nav-item is-tab is-active" %>
              <%= else %>
                <%= link name, to: path, class: "nav-item" %>
              <%= end %>
            <%= end %>

          </div>

          <%= if @conn.assigns[:title] do %>
          <div class="nav-center">
            <h1 class="nav-item title is-5"><%= @conn.assigns[:title] %></h1>
          </div>
          <%= end %>

          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>

          <div class="nav-right nav-menu">
            <%= if @logged_in? do %>
            <a class="nav-item" href="<%= user_path(@conn, :show, @current_user.username )%>">
              <figure>
                <img src="<%= @current_user.avatar %>" alt="<%= @current_user.username %>" />
              </figure>
              <span style="margin-left: 5px;"><%= @current_user.username %></span>
            </a>
            <%= link "退出", to: session_path(@conn, :delete), class: "nav-item" %>
            <%= else %>
            <span class="nav-item">
              <%= link "注册", to: user_path(@conn, :new), class: "button" %>
              <%= link "登录", to: session_path(@conn, :new), class: "button is-info" %>
            </span>
            <%= end %>
          </div>
        </nav>
      </div>
    </section>

    <div style="padding: 70px 0 20px;">
      <div class="container" style="min-height: 550px;">
        <%= if flash = get_flash(@conn, :info) do %>
        <p class="notification is-success">
          <button class="delete"></button>
          <%= flash %>
        </p>
        <%= end %>

        <%= if flash = get_flash(@conn, :error) do %>
        <p class="notification is-danger">
          <button class="delete"></button>
          <%= flash %>
        </p>
        <%= end %>

        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          Copyright © 2016 zizhixi.com
        </div>
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
