<div class="columns">
  <div class="column">
    <div class="box">
      <%= render "form.html",
        changeset: @changeset,
        action: article_section_path(@conn, :update, @article, @article_section)
      %>
    </div>
  </div>
  <div class="column is-3">
    <%= link to: article_path(@conn, :show, @article), class: "button is-link" do %>
      <span>返回</span>
      <span class="icon is-small">
        <i class="fa fa-arrow-right"></i>
      </span>
    <%= end %>
  </div>
</div>
