<section class="hero is-small is-primary is-bold has-text-centered" style="margin-bottom: 20px;">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        小组
      </h1>
      <h2 class="subtitle">
        一念放下，万般自在。
      </h2>
    </div>
  </div>
</section>
