<div class="columns">
  <div class="column">
    <div class="panel">
      <div class="panel-block">
        <%= render "form.html",
          changeset: @changeset,
          action: group_path(@conn, :create)
        %>
      </div>
    </div>
  </div>
  <div class="column is-3">
    <div class="panel">
      <p class="panel-heading">
        小组创建
      </p>
      <div class="panel-block">
        小组需要审核通过后才能完成创建,管理员会在3日内审核申请, 审核结果会用邮件通知你,请耐心等待。
      </div>
    </div>
  </div>
</div>
