<div class="tabs">
  <ul>
    <%= for {tab, name, path} <- tabs(@conn) do %>
      <%= content_tag :li, class: highlight(@current_tab, tab, "is-active") do %>
        <%= link raw(name), to: path %>
      <%= end %>
    <%= end %>
  </ul>
</div>
