/* This file is for your main application css. */
/*@media screen and (min-width: 1180px) {
  .container {
    max-width: 960px;
  }
}*/

body {
  background: #f5f7fa;
}
a.hover {
  text-decoration: none !important;
  border: none !important;
}
.content a:not(.button):hover {
  border: none;
}
#header {
  border-bottom: 1px solid #ddd;
}
.help-block {
  display: block;
  margin-top: 5px;
  color: #ed6c63;
  font-size: 11px;
}
.pagination .active a,
.pagination .active a:hover {
  color: #333;
  font-weight: bold;
}
.panel {
  background: #fff;
}
.panel-heading {
  background: #fafafa;
  font-size: 14px;
  padding: 5px 10px;
}
.content a:not(.button) {
  border-bottom: none;
}
.content a:not(.button):visited {
  color: #1fc8db;
}
.content a:not(.button):hover {
  color: #333;
  border-bottom: 1px solid #1fc8db;
}
.box .column {
  padding: 0;
}
.button.is-link {
  text-decoration: none;
}
.button-is-multiline span {
  display: inline-block;
  width: 100%;
  font-size: 20px;
}
strike {
  color: #ccc;
}
.link {
  display: inline-block;
}
.media {
  position: relative;
}
.media-right {
  position: absolute;
  top: 10px;
  right: 0;
}
.media-right .delete {
  position: absolute;
  top: 0;
}
.notification {
  position: fixed;
  left: 20px;
  bottom: 0;
  width: 400px;
  z-index: 999;
}
.is-inline-flex {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.has-icon span:last-child {
  margin-left: 5px;
}

#group-post-sidebar {
  position: fixed;
}
#group-post-sidebar .btn-watch .link {
  float: right;
  margin-right: 5px;
}
#group-post-sidebar .btn-collect .link {
  float: left;
  margin-left: 5px;
}

@media screen and (min-width: 769px) {
  #group-post-sidebar {
    width: 225px;
  }
}
@media screen and (min-width: 1180px) {
  #group-post-sidebar {
    width: 285px;
  }
}
.icon.is-danger {
  color: #ed6c63;
}
.icon.is-dark {
  color: #69707a;
}
.image {
  overflow: hidden;
}
.nav-item figure {
  width: 24px;
  height: 24px;
  overflow: hidden;
}
#user-show-card .btn-follow .link {width: 100%;}
.subtitle .link {width: auto; vertical-align: middle;}

.box-form-edit {
  position: relative;
}
.box-form-edit .link {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.article-section {
  border-top: 1px solid #ddd;
  padding: 20px 0;
}
.article-section h2 {
  margin: 0 0 10px !important;
}
.article-section .button {
  display: none;
}
.article-section:hover .button {
  display: flex;
}
.article-content {
  padding: 20px 0;
}

.panel-heading {
  padding: 8px 10px;
}

.panel.is-blank {
  border: none;
  background: none;
}
.panel.is-blank .panel-heading {
  font-weight: bold;
  background: none;
}
.panel.is-blank p {
  padding: 0 0 10px;
}
