<section class="hero is-large is-primary is-bold has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        问答系统
      </h1>
      <h2 class="subtitle">
        传道，授业，解惑
      </h2>
    </div>
  </div>
</section>
