<section class="hero is-large is-primary is-bold has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        问答系统，敬请期待！
      </h1>
    </div>
  </div>
</section>
