<div class="tabs">
  <ul class="is-left">
    <%= for {tab, name, path} <- tabs(@conn) do %>
    <%= if tab == @current_tab do %>
    <li class="is-active">
    <%= else %>
    <li>
    <%= end %>
      <%= link raw(name), to: path %>
    </li>
    <%= end %>
  </ul>
</div>
