<h2>Edit group post</h2>

<%= render "form.html", changeset: @changeset,
                        action: group_post_path(@conn, :update, @group, @group_post) %>

<%= link "Back", to: group_post_path(@conn, :index, @group) %>
