<div class="columns">
  <div class="column">
    <div class="box">
      <%= render "form.html",
        changeset: @changeset,
        group_topics: @group_topics,
        action: group_post_path(@conn, :create, @group)
      %>
    </div>
  </div>
  <div class="column is-3">
    <%= link raw("<span>返回#{@group.name}</span><span class=\"icon is-small\"><i class=\"fa fa-arrow-right\"></i></span>"), to: group_path(@conn, :show, @group), class: "button is-link" %>
  </div>
</div>
