<section class="hero is-large is-primary is-bold has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        司南车，敬请期待！
      </h1>
      <h2 class="subtitle">
        这里有很多有用的外网资源
      </h2>
    </div>
  </div>
</section>
