<h2>Edit tutorial</h2>

<%= render "form.html", changeset: @changeset,
                        action: tutorial_path(@conn, :update, @tutorial) %>

<%= link "Back", to: tutorial_path(@conn, :index) %>
