<section class="hero is-small is-primary is-bold has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        自制系社区
      </h1>
      <h2 class="subtitle">
        手工玩家的聚集地
      </h2>
    </div>
  </div>
</section>
