<section class="hero is-large is-primary is-bold has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        自制系社区
      </h1>
      <h2 class="subtitle">
        手工玩家的聚集地
      </h2>

      <p>
        现开放小组功能，其他功能都在紧急开发中。。。
      </p>

      <p>
        有任何问题和建议，请在 <a style="color: #fff;" href="https://github.com/nanlong/zizhixi/issues" target="_blank">github的zizhixi </a>中提问，会尽快回应。
      </p>
    </div>
  </div>
</section>
